*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    height: auto;
    background-color: blueviolet;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(5,300px);
}

.box {
    background-color: tomato;
    border: 3px solid green;
    color: black;
    display: flex;
    color: white;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 4px black;
}

.box1 {
    grid-column-start: 1;
    grid-column-end: 5;
}
.box2{
    grid-row-start: 2;
    grid-row-end: 4;
}
.box6{
    grid-column-start: 2;
    grid-column-end: 4;
}
.box9{
    grid-column-start: 2;
    grid-column-end: 5;
}
.box10{
    grid-column-start: 1;
    grid-column-end: 5;
}