.head1{
text-decoration:underline;
text-decoration-style: double;
text-align: center;
text-shadow: 4px 4px 10px yellow;
/* color: white; */
font-size: 55px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
letter-spacing: 20px;
}

#para{
    color: white;
    word-spacing: 2px;
    font-size: 42px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 65px;
}